<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>不休的音符自制谱库:搜索结果</title>
   <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
   <style>
      thead {
          background-color: #4fc3f7;
          color: white;
      }
      td{
          text-align: center;
          border: 1px solid white;
      }
      tbody tr:nth-child(2n) {
          background-color: #def;
      }

      tbody tr:nth-child(2n+1) {
          background-color: #eee;
      }
  </style>
</head>
<body>
   <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
   <script type="text/javascript" src="js/materialize.min.js"></script>
   <script type="text/javascript" src="post.js"></script>
   <script type="text/javascript" src="log.js"></script>
   <script type="text/javascript">
       $(document).ready(function(){
           $('.modal').modal();
       });
   </script>

   <nav class="nav-wrapper light-blue lighten-2">
      <div class="container">
            <a onclick="home()" class="blue-text text-lighten-5" style=font-size:40px>&nbsp;不休的音符自制谱库</a>
            <a class="right modal-trigger waves-effect waves-light" style="font-size:24px" href="#modal1">&nbsp;作者留言&nbsp;</a>
            <div id="modal1" class="modal">
               <div class="modal-content black-text">
                  <h4>作者留言</h4>
                  <br>
                  <p>待开发内容：图片文字识别、曲谱审核、账户、曲谱打分、曲谱评论、热门推荐</p>
                  <p>寻求用爱发电的前端设计师合作ovo~</p>
               </div>
            </div>
      </div>
   </nav>
  
   <div class="container">
   <div class="row">
   </div>
   <form action="result" method="post" enctype="multipart/form-data">
      <label style="font-size: 20px">查询歌曲名称</label>
      <input type="text" name="song_name"><br>
      <label style="font-size: 20px">查询歌曲作者</label>
      <input type="text" name="song_author"><br>
      <label style="font-size: 20px">查询曲谱作者</label>
      <input type="text" name="spectrum_author"><br>
      <label style="font-size: 20px">查询难度</label>
      <input type="text" name="song_difficulty"><br>
      <input type="submit" style="font-size: 20px" class="btn light-blue lighten-2" value="搜索曲目">
   </form>
   <div class="row">
   </div>
   <%if(result.length == 0){ %>
      <p>没有符合条件的曲谱</p>
   <%}%>
   <table>
      <thead>
         <td>歌曲名称</td>
         <td>歌曲作者</td>
         <td>曲谱速度</td>
         <td>曲谱作者</td>
      </thead>
      <tbody>
         <%for(var i=0;i<result.length;i++){ %>
            <tr>
               <td>
                  <a onclick="detail(<%=result[i].id%>)">
                     <%=result[i].song_name%>
                  </a>
               </td>
               <td>
                  <%if(result[i].song_author){ %>
                     <%=result[i].song_author%>
                  <%}%>
                  <%if(!result[i].song_author){ %>
                     暂无
                  <%}%>
               </td>
               <td>
                  <%if(result[i].song_bpm){ %>
                     <%=result[i].song_bpm%>
                  <%}%>
                  <%if(!result[i].song_bpm){ %>
                     暂无
                  <%}%>
               </td>
               <td>
                  <%if(result[i].spectrum_author){ %>
                     <%=result[i].spectrum_author%>
                  <%}%>
                  <%if(!result[i].spectrum_author){ %>
                     暂无
                  <%}%>
               </td>
            </tr>
         <%}%>
      </tbody>
   </table>
   
   <div class="row">
   </div>
   <a id="pre_page" class="btn light-blue lighten-2" onclick="page(1)">首页</a>
   <%if(page > 1){ %>
      <a id="pre_page" class="btn light-blue lighten-2" onclick="page(<%=page%>-1)">上一页</a>
   <%}%>
   <%if(page <= 1){ %>
      <a id="pre_page" class="btn light-blue lighten-2" onclick="page(1)">上一页</a>
   <%}%>
   <%=page%>/<%=pn%>
   <%if(page < pn){ %>
      <a id="post_page" class="btn light-blue lighten-2" onclick="page(<%=page%>+1)">下一页</a>
   <%}%>
   <%if(page >= pn){ %>
      <a id="post_page" class="btn light-blue lighten-2" onclick="page(<%=pn%>)">下一页</a>
   <%}%>
   <a id="post_page" class="btn light-blue lighten-2" onclick="page(<%=pn%>)">末页</a>
   </div>
   <script type="text/javascript">
      function show(id) {
         document.getElementById("qr"+id).hidden = false;
         var btn = document.getElementById("btn"+id);
         btn.parentNode.removeChild(btn);
      }
      function page(page){
         window.location.href = "http://localhost:80/page?page=" + page + "&&sn=<%=query.song_name%>&&sa=<%=query.song_author%>&&sp=<%=query.spectrum_author%>&&sd=<%=query.song_difficulty%>";
      }
      function detail(id){
         window.location.href = "http://localhost:80/detail?id=" + id;
      }
   </script>
   
   <footer class="page-footer light-blue darken-2">
      <div class="container">
          <div class="row">
              <div class="col l6 m6 s12">
                  <h5 class="white-text">联系作者</h5>
                  <ul>
                      <a class="grey-text text-lighten-4">大狱传奇 SuperGP</a><br>
                      <a class="grey-text text-lighten-4">1363028533@qq.com</a><br>
                  </ul>
              </div>
              <div class="col l4 m4 offset-l2 s12">
                  <h5 class="white-text">链接</h5>
                  <ul>
                      <li><a class="grey-text text-lighten-3" href="https://bxdyf.gamekuaishou.com/" target="_blank">不休的音符官网</a></li>
                      <li><a class="grey-text text-lighten-3" href="https://www.biligame.com/detail/?id=105934&sourceFrom=1112&spm_id_from=333.337.0.0" target="_blank">Bilibili 专区</a></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="footer-copyright col s12">
              <div class="container">
                  &nbsp;© 2022 Copyright SuperGP
              </div>
          </div>
      </div>
   </footer>
</body>
</html>